<h1> a page </h1>
<%form_for @apperance. each do |a| %>
    <%= a.collection_select :Guest, Guest.all, :name, :name,     %>
    <%= a.collection_select :Episode, Episode.all , :date, :date  %>
    <%= a.number_field_tag %>
    <%= a.submit =>
    <%end%>
